<h3>Posts</h3>
<div class="row">
    <div class="col-md-6">
        <pagination [items]="allPosts" [page-size]="perPage" (page-changed)="pageChanged($event)"></pagination>
        <spinner [visible]="isPostsLoading"></spinner>
        <select class="form-control" (change)="filterChange({'userId': u.value})" #u>
            <option value="">Select a user...</option>
            <option *ngFor="#user of users" value="{{user.id}}">{{user.name}}</option>
        </select>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="#post of posts"
                [class.active]="post == currentPost"
                (click)="onPostSelect(post)">{{post.title}}
            </li>
        </ul>
    </div>
    <div class="col-md-6" *ngIf="currentPost">
        <post-detail [post]="currentPost"></post-detail>
        <hr>
        <spinner [visible]="isCommentsLoading"></spinner>
        <div class="media" *ngFor="#comment of currentPost.comments">
            <div class="media-left">
                <img class="media-object thumbnail" src="http://lorempixel.com/80/80/people?random={{ comment.id }}"
                     alt="{{comment.name}}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ comment.name }}
                </h4>
                {{ comment.body }}
            </div>
        </div>
    </div>
</div>